
<div class="card horizontal">
  <table class="tabletop bordered striped centered responsive-table highlight">
    <thead>
    <tr class="frow" style="border-bottom-width:2px;">
      <td class="fcol" colspan="10"><b>팬츠</b></td>
    </tr>
    </thead>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>기준 사이즈</b></td>
      <td class="fcol">28</td>
      <td class="fcol">29</td>
      <td class="fcol">30</td>
      <td class="fcol">31</td>
      <td class="fcol">32</td>
      <td class="fcol">33</td>
      <td class="fcol">34</td>
      <td class="fcol">35</td>
      <td class="fcol" style="border-right-width:0px;">36</td>
    </tr>
    <tr class="frow" style="border-bottom-width:2px;">
      <td class="fcol" style="font-size:13px;"><b>해당 브랜드 표기</b></td>
      <td class="fcol"><input type="text" name="cornum28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="cornum35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="cornum36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>허리 단면</b></td>
      <td class="fcol"><input type="text" name="waist28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="waist35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="waist36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>힙 단면</b></td>
      <td class="fcol"><input type="text" name="hip28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hip35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="hip36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>허벅지 단면</b></td>
      <td class="fcol"><input type="text" name="thigh28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="thigh35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="thigh36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>밑위 길이</b></td>
      <td class="fcol"><input type="text" name="raise28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="raise35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="raise36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>밑단</b></td>
      <td class="fcol"><input type="text" name="hem28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="hem35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="hem36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">
      <td class="fcol" style="font-size:13px;"><b>총장</b></td>
      <td class="fcol"><input type="text" name="length28" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length29" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length30" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length31" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length32" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length33" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length34" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol"><input type="text" name="length35" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
      <td class="fcol" style="border-right-width:0px;"><input type="text" name="length36" style="width:30px; margin-top:-20px; margin-bottom:-20px;"></td>
    </tr>
    <tr class="frow">

    <tr class="frow" style="border-bottom-width:2px;">
      <td class="fcol" colspan="10">
        <p>* 해당 정보가 없는 경우 "-"를 입력해주세요.</p>
        <p>* 단위는 cm, (둘레가 아닌) 단면을 기준으로 합니다.</p>
        <p>* 허벅지 단면은 십자선(가랑이 부분)을 기준으로 합니다.</p>
      </td>
    </tr>
  </table>
</div>


<style>
  .tabletop{
    display:table;
    text-align:center;
    vertical-align:center;
  }
  .fcol{
    display:table-cell;
    text-align:center;
    vertical-align:center;
    border-color:#D0D0D0;
    border-style:solid;
    border-radius:0px;
    border-width:0px;
    border-right-width:1px;
  }
  .frow{
    border-color:#D0D0D0;
    border-style:solid;
    border-radius:0px;
    border-width:0px;
    border-bottom-width:1px;
  }
</style>
