  <div class="card horizontal">
    <table class="tabletop bordered centered" style="min-width:345px;">
      <tr class="frow">
        <td class="fcol" colspan="6">
          <h4 style="margin-top:-10px; margin-bottom:-1px; font-size:15px; height:20px;"><b>카테고리 설정</b></h4>
        </td>
      </tr>
      <tr colspan="1" class="frow">
        <td class="catefirst fcol">
          <h3 class="catediv kiuk divdiv"><b id="k1">ㄱ~ㅁ</b></h3>
          <h3 class="catediv biub divdiv"><b id="b1">ㅂ~ㅈ</b></h3>
          <h3 class="catediv chiub divdiv"><b id="c1">ㅊ~ㅎ</b></h3>
        </td>
        <td class="fcol branddiv" colspan="5">
          <div class="kiukdiv" style="float:left; display:none; margin-left:10px; margin-right:10px;">
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="muji" />
                <img class="btnimage" src="assets/brand-logo/muji-logo.png">
              </label>
            </p>
          </div>
          <div class="biubdiv" style="float:left; display:none; margin-left:10px; margin-right:10px;">
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="spao" />
                <img class="btnimage" src="assets/brand-logo/spao-logo.png">
              </label>
            </p>
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="h&m" />
                <img class="btnimage" src="assets/brand-logo/h&m-logo.png">
              </label>
            </p>
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="8seconds" />
                <img class="btnimage" src="assets/brand-logo/8seconds-logo.png">
              </label>
            </p>
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="uniqlo" />
                <img class="btnimage" src="assets/brand-logo/uniqlo-logo.jpg">
              </label>
            </p><br>
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="zara" />
                <img class="btnimage" src="assets/brand-logo/zara-logo.png">
              </label>
            </p>
          </div>
          <div class="chiubdiv" style="float:left; display:none; margin-left:10px; margin-right:10px;">
            <p class="waves-effect waves-light btn brandbtn" style="margin-right:3px;">
              <label>
                <input type="radio" name="bsel" value="topten" />
                <img class="btnimage" src="assets/brand-logo/topten-logo.png">
              </label>
            </p>
          </div>
        </td>
      </tr>
      <tr class="frow">
        <td class="fcol catefirst" style="display:block; height:160px; padding-top:-20px; padding-bottom:-20px;">
          <h3 class="catediv outer" style="font-size:13px; height:20px; line-height:1.7em; margin-top:-4px; marginp-bottom:-10px;"><b>아우터</b></h3>
          <h3 class="catediv top" style="font-size:13px; height:20px; line-height:1.7em; margin-top:-4px; marginp-bottom:-10px;"><b>상의</b></h3>
          <h3 class="catediv bottom" style="font-size:13px; height:20px; line-height:1.7em; margin-top:-4px; marginp-bottom:-10px;"><b>하의</b></h3>
          <h3 class="catediv acc" style="font-size:13px; height:20px; line-height:1.7em; margin-top:-4px; marginp-bottom:-10px;"><b>잡화</b></h3>
        </td>
        <td class="fcol categorydiv" colspan="5" style="height:160px;">
          <div class="outerdiv">
            <!--<p class="btntext">-->
              <!--<input type="radio" name="csel" value="coat" id="coat" />-->
              <!--<label for="coat">코트</label>-->
            <!--</p>-->
          </div>
          <div class="topdiv">
            <p class="btntext">
              <input type="radio" name="csel" value="tshirts" id="tshirts" />
              <label for="tshirts">티셔츠</label>
            </p>
            <p class="btntext">
              <input type="radio" name="csel" value="shirts" id="shirts" />
              <label for="shirts">셔츠</label>
            </p>
            <p class="btntext">
              <input type="radio" name="csel" value="knit" id="knit" />
              <label for="knit">니트</label>
            </p>
          </div>
          <div class="bottomdiv">
            <p class="btntext">
              <input type="radio" name="csel" value="pants" id="pants" />
              <label for="pants">팬츠</label>
            </p>
            <p class="btntext">
              <input type="radio" name="csel" value="jeans" id="jeans" />
              <label for="jeans">진</label>
            </p>
          </div>
          <div class="accdiv"></div>
        </td>
      </tr>
      <tr class="frow" style="border-bottom-width:0; height:20px; margin-top:-20px; margin-bottom:-20px; line-height:20px; padding-bottom:-20px; padding-top:-20px;">
        <td class="fcol" style="display:block; height:50px; line-height:20px; vertical-align:middle; margin-left:7px;">
          <h3 class="catediv" style="display:table-cell; vertical-align:middle; text-align:center; font-size:13px; height:20px; line-height:20px; overflow:hidden;"><b>제품명</b></h3>
        </td>
        <td class="fcol" colspan="7" style="height:20px; line-height:20px; padding-bottom:-20px; padding-top:-20px; margin-bottom:-20px; margin-top:-20px;">
          <input placeholder=" 출시 년도를 포함하여 정확하게 입력해주세요" type="text" name="productname" style="width:93%; height:20px; margin-bottom:-20px; margin-top:-20px; line-height:20px;">
        </td>
      </tr>
    </table>
  </div>


<style>
  .tabletop{
    display:table;
    text-align:center;
    vertical-align:center;
  }
  .fcol{
    display:table-cell;
    text-align:center;
    vertical-align:center;
    border-color:#D0D0D0;
    border-style:solid;
    border-radius:0px;
    border-width:0px;
    border-right-width:1px;
  }
  .frow{
    border-color:#D0D0D0;
    border-style:solid;
    border-radius:0px;
    border-width:0px;
    border-bottom-width:1px;
  }

  .brandbtn{
    background-color:#D0D0D0;
    width:58px;
    height:58px;
    float:left;
    margin:2px 2px 2px 2px;
  }

  .btnimage{
    width:58px;
    height:58px;
    float:left;
    margin:0 0 0 0;
    margin-left:-28px;
  }

  .catefirst{
    width:60px;
    display:block;
  }

  .catediv{
    font-size:17px;
  }

  .btntext{
    float:left;
    margin-right:20px;
    size:20px;
    color:black;
    display:inline-block;
  }

  .branddiv{
    min-width:285px;
  }
  .categorydiv{
    min-width:285px;
  }

  /*이미지 인풋 버튼 위한 CSS*/
  label > input{ /* HIDE RADIO */
    display:none;
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border:2px solid #26A69A;
  }

</style>

<script type="text/javascript">

  //자음 카테고리 클릭시 해당 브랜드만 나타나도록
  $('.kiuk').click(function() {$('.kiukdiv').show()});
  $('.biub').click(function() {}, function() {$('.kiukdiv').hide()});
  $('.chiub').click(function() {}, function() {$('.kiukdiv').hide()});

  $('.biub').click(function() {$('.biubdiv').show()});
  $('.kiuk').click(function() {}, function() {$('.biubdiv').hide()});
  $('.chiub').click(function() {}, function() {$('.biubdiv').hide()});

  $('.chiub').click(function() {$('.chiubdiv').show()});
  $('.kiuk').click(function() {}, function() {$('.chiubdiv').hide()});
  $('.biub').click(function() {}, function() {$('.chiubdiv').hide()});

  //자음 카테고리 클릭시 색 변화
  $(".kiuk").on("click", function() {
    $(".kiuk").css("background", "#F2F2F2"),
    $(".branddiv").css("background", "#F2F2F2");
  });
  $(".biub").on("click", function() {
    $(".biub").css("background", "#F2F2F2"),
    $(".branddiv").css("background", "#F2F2F2");
  });
  $(".chiub").on("click", function() {
    $(".chiub").css("background", "#F2F2F2"),
    $(".branddiv").css("background", "#F2F2F2");
  });

  $('.kiuk').click(function() {}, function() {$(".biub").css("background", "white"), $(".chiub").css("background", "white");});
  $('.biub').click(function() {}, function() {$(".kiuk").css("background", "white"), $(".chiub").css("background", "white");});
  $('.chiub').click(function() {}, function() {$(".kiuk").css("background", "white"), $(".biub").css("background", "white");;});


  //구분 카테고리 클릭시 해당 브랜드만 나타나도록
  $('.outerdiv').hide();
  $('.topdiv').hide();
  $('.bottomdiv').hide();
  $('.accdiv').hide();
  $('.outer').click(function() {$('.outerdiv').show()});
  $('.top').click(function() {}, function() {$('.outerdiv').hide()});
  $('.bottom').click(function() {}, function() {$('.outerdiv').hide()});
  $('.acc').click(function() {}, function() {$('.outerdiv').hide()});

  $('.top').click(function() {$('.topdiv').show()});
  $('.outer').click(function() {}, function() {$('.topdiv').hide()});
  $('.bottom').click(function() {}, function() {$('.topdiv').hide()});
  $('.acc').click(function() {}, function() {$('.topdiv').hide()});

  $('.bottom').click(function() {$('.bottomdiv').show()});
  $('.outer').click(function() {}, function() {$('.bottomdiv').hide()});
  $('.top').click(function() {}, function() {$('.bottomdiv').hide()});
  $('.acc').click(function() {}, function() {$('.bottomdiv').hide()});

  $('.acc').click(function() {$('.accdiv').show()});
  $('.outer').click(function() {}, function() {$('.accdiv').hide()});
  $('.top').click(function() {}, function() {$('.accdiv').hide()});
  $('.bottom').click(function() {}, function() {$('.accdiv').hide()});

  //구분 카테고리 클릭시 색 변화
  $(".outer").on("click", function() {
    $(".outer").css("background", "#F2F2F2"),
        $(".categorydiv").css("background", "#F2F2F2");
  });
  $(".top").on("click", function() {
    $(".top").css("background", "#F2F2F2"),
        $(".categorydiv").css("background", "#F2F2F2");
  });
  $(".bottom").on("click", function() {
    $(".bottom").css("background", "#F2F2F2"),
        $(".categorydiv").css("background", "#F2F2F2");
  });
  $(".acc").on("click", function() {
    $(".acc").css("background", "#F2F2F2"),
        $(".categorydiv").css("background", "#F2F2F2");
  });

  $('.outer').click(function() {}, function() {$(".top").css("background", "white"), $(".bottom").css("background", "white"), $(".acc").css("background", "white");});
  $('.top').click(function() {}, function() {$(".outer").css("background", "white"), $(".bottom").css("background", "white"), $(".acc").css("background", "white");});
  $('.bottom').click(function() {}, function() {$(".outer").css("background", "white"), $(".top").css("background", "white"), $(".acc").css("background", "white");});
  $('.acc').click(function() {}, function() {$(".outer").css("background", "white"), $(".top").css("background", "white"), $(".bottom").css("background", "white");});



</script>