<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">
    <div class="outblank">
      <div class="inblank" style="line-height:0.9em">
        <p style="font-size:18px; margin-bottom:0px;">분명히 평소 입는 L 사이즈인데 왜 작은거지?</p>
        <p style="font-size:18px; margin-bottom:10px;">브랜드별로, 아이템별로 다른 사이즈...</p>
        <p style="font-size:25px;"><b>이제 쉽게 찾자!</b></p>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <a href="/useguide">
        <div class="mdl-card__media">
          <img src="assets/more-from-1.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">튜토리얼</h4>
        </div>
      </a>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/more-from-1.png">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">내 사이즈</h4>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/more-from-1.png">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">사이즈 체크</h4>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/more-from-1.png">
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">사이즈 사전</h4>
      </div>
    </div>
</div>