<div class="android-section-title mdl-typography--display-1-color-contrast">
  <div class="outblank" style="line-height: 0.9em;; width:95%;">
    <div class="inblank" style="line-height:0.9em;">
      <h4 style="font-size:15px; margin-bottom:-35px;">브랜드마다, 아이템마다 미묘하게 다른 사이즈 때문에 쇼핑에 실패한 경험이 있으신가요?</h4>
      <h4 style="font-size:15px; margin-bottom:-35px;">어떤 브랜드의 L 사이즈는 작고, 어떤 브랜드의 L 사이즈는 큰 경우도 부지기수!</h4>
      <h4 style="font-size:15px; margin-bottom:-25px;">상의/하의/신발에 따라 기억해야 할 사이즈는 계속 늘어만 갑니다.</h4>
      <h4 style="font-size:22px;"><b>그런 분들을 위해 만들어졌습니다. 딱 맞는 사이즈의 쇼핑을 위한 Size.com</b></h4>
    </div>
  </div>
</div>
<hr>
<div style="width:100%; height:100%; display:inline-block;">
  <div class="row usecard">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>내 사이즈</b></span>
          <p><b>내 브랜드별, 아이템별 사이즈 정보와 신체 치수를 저장합니다.</b></p>
          <p>저장된 정보가 누적되어 추후 쇼핑할 때에 참고할 때 사용되며, 사이즈 미스로 인한 번거로운 환불/교환 절차를 줄여줍니다. 누적된 정보가 많아질수록 정확도가 올라갑니다!
          </p>
        </div>
        <div class="card-action">
          <a href="/inputsize">내 사이즈 입력하기</a>
          <a href="/avgsize">실측 보러 가기</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row usecard">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>사이즈 체크</b></span>
          <p><b>내 사이즈에 기록된 개인별 신체 치수와 사이즈 정보를 통해 가장 적합한 사이즈를 매칭해줍니다.</b></p>
          <p>가장 먼저 저장된 개인 사이즈의 실제 치수와 구매하시려는 제품의 실제 치수를 비교하여 매칭합니다. 예를 들어 내 사이즈 정보에 저장된 셔츠의 가슴 둘레가 평균 100cm라면, 구입하시려는 아이템 중 가슴 둘레가 100cm에 가장 근접한 사이즈를 추천합니다.
        </p>
        </div>
        <div class="card-action">
          <a href="#">내 사이즈 입력하기</a>
          <a href="#">실측 보러 가기</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row usecard">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><b>사이즈 사전</b></span>
          <p><b>현재까지 기록된 사이즈 정보를 공유합니다.</b></p>
          <p>각 브랜드, 아이템 키워드를 입력하여 해당 제품의 사이즈를 확인합니다. 예를 들어 "유니XX, 셔츠"를 검색하시면, 유니XX의 셔츠 사이즈 실측을 보여줍니다. 더이상 번거롭게 사이트별로 돌아다니면서 사이즈를 확인하실 필요가 없습니다!
        </p>
        </div>
        <div class="card-action">
          <a href="/branddic">브랜드별 사이즈 사전</a>
          <a href="/transfersize">사이즈 변환표</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .usecard{
    width:50%;
    float:left;
  }
</style>