<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sizeproject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- Page styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/material.min.css">
  <link rel="stylesheet" href="assets/styles.css">
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <a href="/index"><img class="android-logo-image" src="assets/sizecom-logo.png"></a>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field" style="top:37px;">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>

      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation" style="background-color:white; box-shadow:none;">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/useguide">튜토리얼</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/avgsize">내 사이즈</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">사이즈 체크</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/branddic">사이즈 사전</a>
        </nav>
      </div>
          <span class="android-mobile-title mdl-layout-title">
            <a href="/index"><img class="android-logo-image" src="assets/sizecom-logo.png"></a>
          </span>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item">로그인</li>
        <li class="mdl-menu__item">회원가입</li>
        <li class="mdl-menu__item">마이페이지</li>
        <!--<li disabled class="mdl-menu__item">선택불가 항목/혹시 나중에 쓰일까봐</li>-->
      </ul>
    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="assets/sizecom-logo-white.png">
        </span>
    <nav class="mdl-navigation" style="background-color:white; box-shadow:none;">
      <a class="mdl-navigation__link" href="useguide">튜토리얼</a>
      <a class="mdl-navigation__link" href="">내 사이즈</a>
      <a class="mdl-navigation__link" href="">사이즈 체크</a>
      <a class="mdl-navigation__link" href="">사이즈 사전</a>
      <div class="android-drawer-separator"></div>
      <hr>
      <a class="mdl-navigation__link" href="">로그인</a>
      <a class="mdl-navigation__link" href="">회원가입</a>
      <a class="mdl-navigation__link" href="">마이페이지</a>
    </nav>
  </div>

  <div class="android-content mdl-layout__content" style="background-color:#F3F3F3;">
    <a name="top"></a>

    <%= yield %>

  </div>

  <footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
      <div class="mdl-mega-footer--right-section">
        <a class="mdl-typography--font-light" href="#top">
          Back to Top
          <i class="material-icons">expand_less</i>
        </a>
      </div>
      <p class="mdl-typography--font-light" style="margin-bottom:-5px;">Satellite imagery: © 2014 Astrium, DigitalGlobe</p>
      <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
    </div>

  </footer>
</div>
</div>
<a href="https://github.com/google/material-design-lite/blob/master/templates/android-dot-com/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">바로가기</a>
<script src="assets/material.min.js"></script>


</body>
</html>

<style>
  .contain{
    display:inline-block;
    text-align:center;
  }

  .vlec{
    border-width:2px;
    border-color:#53585F;
    border-style:solid;
    border-radius:5px;
    background-color:#DCDEE0;
    margin:5px 5px 5px 5px;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
  }

  .outblank{
    display:table;
    height:100%;
    width:100%;
  }

  .inblank{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
  }

  .explainmd{
    font-size:17px;
    margin:4px;
  }

  .explainsm{
    font-size:15px;
    margin:0px;
  }

  .smtitle{
    font-size:20px;
  }

  .hanna{
    font-family: 'Hanna', serif;
    font-size: 15px;
  }

  @font-face {
    font-family: 'Hanna';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
    src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'),
    url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
  }
</style>